@keyframes chargement-menu {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes chargement-loader {
  0% {
    transform: rotate(0deg);
  }
  75% {
    opacity: 0.75;
  }
  100% {
    transform: rotate(3turn);
    opacity: 0;
  }
}
@keyframes chargement-background {
  0%, 100% {
    transform: scale(1);
    height: 100%;
    width: 100%;
  }
}
body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: auto;
}

.flex {
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.fonctionnement {
  margin: 0px 10px;
}

header {
  font-family: "Shrikhand", sans-serif;
  text-align: center;
  box-shadow: 0px 5px 5px lightgrey;
}
header h1 {
  margin: 0.2%;
}

.header-pages {
  font-family: "Shrikhand", sans-serif;
  text-align: center;
  box-shadow: 0px 5px 5px lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-pages a {
  margin-left: 10px;
  color: black;
}
.header-pages h1 {
  margin: 0.2%;
  flex-grow: 1;
}

@media screen and (min-width: 600px) {
  header h1 {
    font-size: 50px;
  }
}
footer {
  background-color: #413e3e;
  color: white;
  padding: 20px 25px 30px;
}
footer ul {
  padding: 0;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 15px;
}
footer a {
  color: white;
  line-height: 20px;
}
footer a i {
  font-size: 14px;
  width: 9px;
  margin-right: 10px;
}

@media screen and (min-width: 600px) {
  footer h3 {
    font-size: 20px;
  }
  footer a {
    font-size: 18px;
  }
  footer a i {
    font-size: 16px;
  }
}
.loader-page {
  display: flex;
  position: fixed;
  z-index: 3;
  transform: scale(0);
  background-color: rgba(211, 211, 211, 0.5);
  animation: chargement-background 3s 150ms backwards;
}
.loader-page .load {
  transform: scale(0);
  font-size: 130px;
  color: #36927b;
  margin: auto;
  animation: chargement-loader 3s 150ms linear backwards;
}

.ville {
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: #eaeaea;
  text-align: center;
  padding: 20px;
}
.ville form i {
  padding-right: 15px;
}
.ville form input {
  padding: 0px 20px;
  background-color: #eaeaea;
  border: none;
}
.ville ::placeholder {
  color: black;
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  .ville {
    font-size: 18px;
  }
  .ville form input {
    font-size: 20px;
  }
}
.bouton {
  color: white;
  font-size: 25px;
  padding: 16px 32px;
  border: none;
  border-radius: 32px;
  box-shadow: 2px 1px 8px 0px;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  margin-top: 16px;
  margin-bottom: 16px;
}
.bouton:hover {
  box-shadow: 0 3px 8px darkgrey;
  filter: brightness(1.1);
}

.boutonR {
  color: white;
  font-size: 25px;
  padding: 16px 75px;
  border: none;
  border-radius: 32px;
  box-shadow: 2px 1px 8px 0px;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  margin-top: 50px;
  margin-bottom: 50px;
}
.boutonR:hover {
  box-shadow: 0 3px 8px darkgrey;
  filter: brightness(1.1);
}

@media screen and (min-width: 600px) {
  .boutonR {
    transform: scale(1.3);
  }
}
.explorestos {
  text-align: center;
  background-color: #f6f6f6;
  padding: 20px 0 20px 0;
}
.explorestos h2 {
  margin: 0;
}

@media screen and (min-width: 600px) {
  .explorestos {
    font-size: 18px;
  }
}
.etape-globale {
  width: 100%;
}
.etape-globale .etape {
  height: 72px;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}
.etape-globale .etape__nombre {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9356DC;
  height: 12px;
  width: 12px;
  color: white;
  border-radius: 50%;
  z-index: 2;
  font-size: 15px;
  padding: 9px;
}
.etape-globale .etape__texte {
  position: relative;
  left: -12px;
  background-color: #f6f6f6;
  border-radius: 17px;
  width: 100%;
  height: 100%;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 3px 8px darkgrey;
}
.etape-globale .etape__texte i {
  width: 21px;
  color: #727272;
  margin: 0 25px 0 30px;
  font-size: 18px;
}
.etape-globale .etape__texte:hover {
  background-color: #f0e8fa;
}
.etape-globale .etape__texte:hover i {
  color: #9356DC;
}

@media screen and (min-width: 600px) {
  .etape-globale {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .etape {
    width: 80%;
  }
  .etape__nombre {
    font-size: 17px;
  }
  .etape__texte {
    font-size: 18px;
  }
  .etape__texte i {
    font-size: 20px;
  }
}
@media screen and (min-width: 600px) {
  .fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 45px;
  }
  .fonctionnement h2 {
    font-size: 30px;
  }
  .fonctionnement h2::before,
.fonctionnement h2::after {
    content: "";
    display: inline-block;
    background-color: #36927b;
    height: 4px;
    width: 80px;
    vertical-align: middle;
    margin: 0 10px;
  }
}
@media screen and (min-width: 1024px) {
  .etape-globale {
    flex-direction: row;
  }
  .etape__texte {
    justify-content: center;
  }
}
.restaurant {
  background-color: #f6f6f6;
  margin-bottom: 20px;
  padding: 15px 10px;
}
.restaurant h2 {
  margin-bottom: 20px;
}

.resto-list {
  box-sizing: border-box;
  height: 250px;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 18px;
  box-shadow: 0 3px 8px darkgrey;
}
.resto-list__image {
  height: 70%;
  position: relative;
}
.resto-list__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.resto-list__image .nouveau {
  position: absolute;
  right: 12px;
  top: 13px;
  background-color: #99E2D0;
  color: #36927b;
  padding: 6px 11px;
  border-radius: 1px;
  font-weight: 500;
  font-size: 15px;
}
.resto-list__description {
  height: 30%;
  background-color: white;
  align-items: center;
}
.resto-list__description .description-texte {
  flex: 1;
  padding-left: 13px;
  flex-direction: column;
  justify-content: center;
  font-size: 17px;
  color: black;
}
.resto-list__description .description-texte .nom-resto {
  margin: 0;
  font-weight: 700;
  margin-bottom: 5px;
}
.resto-list__description .description-texte .nom-resto + p {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
}

@media screen and (min-width: 600px) {
  .restaurant {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .restaurant .restaurants-carte {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .restaurant .restaurants-carte .resto-list {
    width: 100%;
  }
  .restaurant h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .restaurant h2::before,
.restaurant h2::after {
    content: "";
    display: inline-block;
    background-color: #36927b;
    height: 4px;
    width: 80px;
    vertical-align: middle;
    margin: 0 10px;
  }
}
@media screen and (min-width: 1024px) {
  .resto-list {
    height: 350px;
  }
  .resto-list__image {
    height: 75%;
  }
  .resto-list__description {
    height: 25%;
  }
}
.description-coeur {
  width: 75px;
}
.description-coeur .coeur-vide {
  margin: auto;
  transition: opacity 1s;
  color: black;
}
.description-coeur .coeur-plein {
  background: linear-gradient(170deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 1s;
}
.description-coeur:active {
  cursor: pointer;
}
.description-coeur:active .coeur-vide {
  opacity: 0;
}
.description-coeur:active .coeur-plein {
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .description-coeur:hover {
    cursor: pointer;
  }
  .description-coeur:hover .coeur-vide {
    opacity: 0;
  }
  .description-coeur:hover .coeur-plein {
    opacity: 1;
  }
}
.plat {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-top: 14px;
  border-radius: 16px;
  box-shadow: 0 3px 10px darkgrey;
  padding: 0;
  opacity: 0;
  overflow: hidden;
}
.plat__texte {
  align-self: flex-start;
  flex-direction: column;
  text-align: left;
  width: 80%;
  transform-origin: left;
  transition: width 300ms 100ms linear;
  padding: 15px 0 15px 13px;
  justify-content: space-between;
}
.plat__texte .nom-plat {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.plat__texte p {
  margin: 0;
  font-weight: 300;
  font-size: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.plat__prix {
  align-self: center;
  color: black;
  font-weight: 700;
  width: 20%;
}
.plat__animation {
  display: flex;
  background-color: #99E2D0;
  width: 0%;
  transform-origin: right;
  transition: width 250ms 100ms linear;
  border-radius: 0 16px 16px 0;
}
.plat__animation .icone_anime {
  color: white;
  font-size: 25px;
  margin: auto;
  transform: rotate(0deg);
  transition: transform 250ms 100ms linear;
}
.plat:active {
  cursor: pointer;
}
.plat:active .plat__animation {
  width: 20%;
}
.plat:active .icone_anime {
  transform: rotate(360deg);
}
.plat:active .plat__texte {
  width: 60%;
}
.plat:active .nom-plat {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.plat:active p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.plat:nth-of-type(1) {
  animation: chargement-menu 1s 0.2s forwards;
}
.plat:nth-of-type(2) {
  animation: chargement-menu 1s 0.4s forwards;
}
.plat:nth-of-type(3) {
  animation: chargement-menu 1s 0.6s forwards;
}
.plat:nth-of-type(4) {
  animation: chargement-menu 1s 0.8s forwards;
}

@media screen and (min-width: 1024px) {
  .plat__prix {
    display: flex;
    align-self: center;
    justify-content: flex-end;
    padding: 0 20px 0 0;
    width: 30%;
  }
  .plat:hover {
    cursor: pointer;
  }
  .plat:hover .plat__animation {
    width: 5%;
  }
  .plat:hover .icone_anime {
    transform: rotate(360deg);
  }
  .plat:hover .plat__texte {
    width: 60%;
  }
}
body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: auto;
}

.page-resto {
  text-align: center;
  background-color: #f6f6f6;
}
.page-resto .img-resto img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.page-resto .nom-resto {
  margin: 0px;
  margin-top: -40px;
  position: relative;
  font-weight: 700;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
}
.page-resto .nom-resto h2 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 300;
  margin: 15px;
}
.page-resto .nom-resto p {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
}
.page-resto .nom-resto .description-coeur {
  right: 20px;
}
.page-resto .sous-menu {
  padding: 0 10px 0 10px;
}
.page-resto .sous-menu h3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}
.page-resto .sous-menu h3::after {
  content: "";
  display: block;
  height: 3px;
  width: 35px;
  background-color: #99E2D0;
  margin-top: 5px;
}

@media screen and (min-width: 1024px) {
  .page-resto .img-resto img {
    height: 400px;
    width: 100%;
    object-fit: cover;
  }
}

/*# sourceMappingURL=style.css.map */
