.explorestos {
    text-align: center;
    background-color: $couleur-bg-section;
    padding: 20px 0 20px 0;


    h2 {
        margin: 0;
    }
}

@media screen and (min-width: 812px) {
    .explorestos {
        font-size: 18px;
    }
}