.explorestos {
    text-align: center;

    & button {
        color: white;
        font-size: 25px;
        padding: 16px 32px;
        border: none;
        border-radius: 32px;
        box-shadow: 2px 1px 8px 0px;
        background: linear-gradient(to top, rgba(147, 86, 220, 1), rgba(255, 121, 218, 1));
        margin-top: 16px;
    }
}