.etape-globale {
    width: 100%;

    .etape {
        height: 72px;
        width: 100%;
        align-items: center;
        margin-bottom: 20px;

        &__nombre {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $couleur-primaire;
            height: 12px;
            width: 12px;
            color: $couleur-texte-clair;
            border-radius: 50%;
            z-index: 2;
            font-size: 15px;
            padding: 9px;
        }

        &__texte {
            position: relative;
            left: -12px;
            background-color: $couleur-bg-section;
            border-radius: 17px;
            width: 100%;
            height: 100%;
            align-items: center;
            font-size: 16px;
            font-weight: 600;
            box-shadow: 0 3px 8px $couleur-boxshadow;
        }

        &__texte i {
            width: 21px;
            color: $couleur-icone;
            margin: 0 25px 0 30px;
            font-size: 18px;
        }

        &__texte:hover {
            background-color: $couleur-hover-etape;

            i {
                color: $couleur-primaire;
            }
        }
    }
}