.plat {
    display: flex;
    justify-content: space-between;
    background-color: $couleur-bg-carte;
    margin-top: 14px;
    border-radius: 16px;
    box-shadow: 0 3px 10px $couleur-boxshadow;
    padding: 0;
    opacity: 0;
    overflow: hidden;

    &__texte {
        align-self: flex-start;
        flex-direction: column;
        text-align: left;
        width: 80%;
        transform-origin: left;
        transition: width 300ms 100ms linear;
        padding: 15px 0 15px 13px;
        justify-content: space-between;

        .nom-plat {
            font-weight: 600;
            font-size: 16px;
            margin-bottom: 5px;
            margin: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        p {
            margin: 0;
            font-weight: 300;
            font-size: 15px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    &__prix {
        align-self: center;
        color: $couleur-texte-fonce;
        font-weight: 700;
        width: 20%;

    }

    &__animation {
        display: flex;
        background-color: $couleur-tertiaire;
        width: 0%;
        transform-origin: right;
        transition: width 250ms 100ms linear;
        border-radius: 0 16px 16px 0;

        .icone_anime {
            color: $couleur-bg-carte;
            font-size: 25px;
            margin: auto;
            transform: rotate(0deg);
            transition: transform 250ms 100ms linear;
        }
    }

    &:active {
        cursor: pointer;

        .plat__animation {
            width: 20%;
        }


        .icone_anime {
            transform: rotate(360deg);
        }

        .plat__texte {
            width: 60%;
        }


        .nom-plat {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        p {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    @for $i from 1 through ($plat-max) {
        &:nth-of-type(#{$i}) {
            animation: chargement-menu 1s $menu-delais*$i forwards;
        }
    }

}

@media screen and (min-width: 1024px) {
    .plat {

        &__prix {
            display: flex;
            align-self: center;
            justify-content: flex-end;
            padding: 0 20px 0 0;

        }

        &:hover {
            cursor: pointer;

            .plat__animation {
                width: 20%;
            }


            .icone_anime {
                transform: rotate(360deg);
            }

            .plat__texte {
                width: 60%;
            }

        }
    }

}