.ville {
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: $couleur-bg-ville;
    text-align: center;
    padding: 20px;

    form i {
        padding-right: 15px;
    }

    form input {
        padding: 0px 20px;
        background-color: $couleur-bg-ville;
        border: none;
    }

    ::placeholder {
        color: $couleur-texte-fonce;
        font-weight: bold;
    }
}

@media screen and (min-width: 812px) {
    .ville {
        font-size: 18px;


        form input {
            font-size: 20px;
        }
    }
}