@mixin transition-coeur {
    .coeur-vide {
        font-size: 1.7rem;
        cursor: pointer;
        position: relative;
        transition: color 160ms 60ms ease;

        &:hover {
            color: transparent;
        }

        &:hover>.coeur-plein {
            transform: scale(1);
        }
    }

    .coeur-plein {
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(170deg, $couleur-primaire, $couleur-secondaire);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: scale(0);
        transition: transform 160ms 60ms ease-in-out;
    }
}

@mixin bouton-colore {
    .bouton {
        color: $couleur-texte-clair;
        font-size: 25px;
        padding: 16px 32px;
        border: none;
        border-radius: 32px;
        box-shadow: 2px 1px 8px 0px;
        background: linear-gradient(to top, $couleur-primaire, $couleur-secondaire);
        margin-top: 16px;

        &:hover {
            background: linear-gradient(170deg, $couleur-primaire, $couleur-secondaire);
            box-shadow: 0 3px 8px $couleur-boxshadow;
        }
    }
}