$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;

$couleur-texte-clair : white;
$couleur-texte-fonce : black;
$couleur-texte-bgvert : #36927b;

$couleur-bg-ville : #eaeaea;
$couleur-bg-section : #f6f6f6;
$couleur-bg-carte : white;

$couleur-boxshadow : darkgrey;
$couleur-icone : #727272;

$couleur-hover-etape : #f0e8fa;

$couleur-footer : #413e3e;