footer {
    background-color: rgb(65, 62, 62);
    color: white;
    padding: 20px 25px 30px;

    h3 {
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
        margin-bottom: 10px;
        font-size: 15px;
    }

    a {
        color: white;
        line-height: 20px;

        i {
            font-size: 14px;
            width: 9px;
            margin-right: 10px;
        }
    }
}