footer {
    background-color: $couleur-footer;
    color: $couleur-texte-clair;
    padding: 20px 25px 30px;

    ul {
        padding: 0;
    }

    h3 {
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
        margin-bottom: 10px;
        font-size: 15px;
    }

    a {
        color: $couleur-texte-clair;
        line-height: 20px;

        i {
            font-size: 14px;
            width: 9px;
            margin-right: 10px;
        }
    }
}