header {
    font-family: "Shrikhand", sans-serif;
    text-align: center;
    box-shadow: 0px 5px 5px $couleur-boxshadow-header;

    h1 {
        margin: 0.2%;
    }
}

.header-pages {
    font-family: "Shrikhand", sans-serif;
    text-align: center;
    box-shadow: 0px 5px 5px $couleur-boxshadow-header;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        margin-left: 10px;
        color: $couleur-texte-fonce;

    }

    h1 {
        margin: 0.2%;
        flex-grow: 1;
    }

}